<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.oceanhuang.bankoo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".IsReadyToPayServiceImpl"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="org.chromium.intent.action.IS_READY_TO_PAY" />
            </intent-filter>
        </service>

        <activity
            android:name=".PaymentActivity"
            android:theme="@style/AppTheme.Translucent"
            android:exported="true">
            <intent-filter>
                <action android:name="org.chromium.intent.action.PAY" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="org.chromium.default_payment_method_name"
                android:value="https://oceanhuang-github-io-bankoo.herokuapp.com/" />
        </activity>
    </application>

</manifest>